@import "./common/variable.css";
@import './common/commonClasses.css';
@import './common/animation/animation.css';

body{
    
    font-family: 'Poppins', sans-serif;
    
    margin: 0;
    background-color: var(--bg-black);
    color: var(--white);
    
}